/* DAZED AND 90'S WEBSITE STYLE INSPIRED
*/

h1, h2, h3, h4, p, figure {text-align:center;}

body{background-color:white;}

.main{padding-left:2%;padding-right:2%;}
.logo img {text-align: center; display:block; margin:auto;}
.cover {background-color:#93ff96;}
.code {background-size:cover; background-color:white;}
.origin .what {background-color:#93ff96;}
.f1{display:inline; text-align:left;}
