*{box-sizing:border-box;}
h1, h2, h3, h4, p, figure{text-align:center;}
h1{font-size:50px;margin-top:0;margin-bottom:0;}
h2{font-size:30px;}
h4{font-size:20px;}
hr{border:1px solid black;}
p{margin:5px 0 0 5px;font-size:18px;}
a{color:black;text-decoration: none;}
a:visited{color:grey;}
a:hover{color:#00ff19;background-color: black;border-radius:10px;}
a:active{color:#00ff19;}
img{display:block;margin-left:auto;margin-right:auto;}
body{background-color:white;font-family:sans-serif;margin:0;}

/*
.top-nav{border-bottom:1px solid black;height:70px;width:100%;display:block;padding:0 15px;}
.main-nav-log{align-items:center;display:flex;overflow:hidden;}
header .logo-container{padding:10px;text-align:center;display: block;}
header .logo-svg{width:120px;height:120px;position:absolute;top:-30px;left:45%;display:inline-block;}
.logo-container, .logo-svg, .nav-buttons{display:inline-block;}
*/

header, .top-nav{background-color: #00ff19;height:100px;width:100%;position:fixed;margin:0;top:0;}
.top-nav{display:flex;justify-content:space-between;}
.nav-buttons{display:absolute;align-items: center;}
.nav-buttons button{background-color: #00ff19;color:#050505;border:none;outline:none;box-shadow:none;padding:5px 10px;font-weight:bolder;}
.nav-buttons button:hover{background-color: #050505;color: #00ff19;}
.logo-container{align-items:center;object-fit:cover;}
#logo-svg{width: max(6rem,6vw);}

main{padding:120px 5px 5px 5px;margin:5px 20px;display:block;}
.cover {background-color:#050505;}
.title, .text{margin:auto;padding: 20px;margin-top:-15px;margin-bottom:0;color:white;}

.code_bg {background-size:cover; background-color:white; display: inline; margin: auto;}
.container{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-evenly;}
.sym {width:300px;text-align: left;margin:0;}

.origin .emphasized {font-style:italic;}
.origin .what {background-color:#00ff19; padding: 20px 20px 20px 20px; margin-top:25px;}
.what .text{color:black;}

.images{display:flex;justify-content:center;flex-direction:row;flex-wrap:wrap;}
.samuel-morse, .alfred-vail{width:300px;box-shadow:15px 15px 10px rgba(0,0,0,85%);margin-bottom: 15px;}

.title{padding-bottom:0;margin-bottom:0;display:block;}
.feature {display:inline-block; margin:auto; padding-top:50px;}
.f1 {text-align:left;}
.f2 {text-align:right;}

footer, p{font-size:14px;margin-top:15px;}

/*QUIZ PAGE*/
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0 0 0 0);white-space:nowrap;border:0;}