
h1, h2, h3, h4, p, figure {text-align:center;}
h1 {font-size:50px;margin-top:0;margin-bottom:0;}
h2 {font-size:30px;}
hr {height:2px;background-color:#93ff96;border-color:#93ff96;}
p {margin:5px 0 0 5px;font-size:18px;}
a {color:black;text-decoration: none;}
a:visited{color:grey;}
a:hover{color:#00ff19;}
a:active{color:#00ff19;}
img{display:block;margin-left:auto;margin-right:auto;}

body{background-color:white;font-family:sans-serif;margin:0;}z
/*
.top-nav{display:block;width:100%;height:100px;position:fixed;top:0;left:0;z-index:4;}
.nav{margin:0;position:relative;padding:0;height:100px;width:100%;top:0;left:0;border: 2px solid black;}
.white{background-color:white;}
nav{width:50px;display:inline;}
nav button{background-color:black;display:inline;color:#00ff19;cursor: pointer;overflow: hidden;}
.container {display:inline;width:100px;height:100px;margin:auto;z-index:-100;}
.logo-svg {text-align: center; display:block; margin:auto;position:static;height:100px;margin-bottom:30px;}
*/
.top-nav{box-sizing:border-box;position:fixed;}
.main-nav-log{align-items:center;display:flex;overflow:hidden;}
header .logo-container{padding:10px;text-align:center;display: block;}
header .logo-svg{width:100px;height:100px;position:absolute;top:-20px;left:45%;display:inline-block;}
.logo-container, .logo-svg, .nav-buttons{display:inline-block;}


.intro{display:block;margin-top:100px;}

footer p{font-size:14px;}

.main{padding:2px 2px 2px 2px;margin:20px;}
.cover {background-color:#93ff96;}
.code_bg {background-size:cover; background-color:white; display: inline; margin: auto;}
.A-L {text-align: center;}
.M-Z {text-align: center;}
.origin .emphasized {font-style:italic;}
.origin .what {background-color:#93ff96; padding: 20px 20px 20px 20px; margin-top:25px;}
.samuel-morse, .alfred-vail{width:300px;box-shadow:15px 15px 10px rgba(0,0,0,85%);margin-bottom: 15px;}
.title, .text{margin:auto;padding: 20px 20px 20px 20px;margin-top:-15px;margin-bottom:0;}
.title{padding-bottom:0;margin-bottom:0;display:block;}
.feature {display:inline-block; margin:auto; padding-top:50px;}
.f1 {text-align:left;}
.f2 {text-align:right;}

